@import "_nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.App {
  font-family: "Inter";
}

.content {
  max-width: 1370px;
  margin: 0 auto;
}

.line {
  width: 100%;
  height: 1px;
  background: #000000;
}
