footer {
  background: #3f4e65;
  width: 100%;
  height: 400px;
  padding: 70px 0 115px 0;
}

.footer_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  .about {
    flex: 3;
    .footer-logo {
      background: url("../../../img/footer-logo.svg") no-repeat center center;
      width: 156px;
      height: 66px;
    }
    h3 {
      margin-top: 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #ffffff;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #ffffff;
      margin-top: 45px;
    }
    .send-mail {
      margin-top: 15px;
      display: flex;
      align-items: center;
      width: 100%;
      input {
        width: 100%;
        padding: 20px 10px 20px 20px;
        gap: 10px;
        background: #ededed;
        border-radius: 36px;
        transition: all 0.2s linear;
        &:focus {
          border: 1px solid #5c6370;
        }
      }
      button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffc85e;
        border-radius: 100%;
        margin-left: -50px;
        transition: all 0.2s linear;
        &:hover {
          transform: scale(1.05);
        }
        &:active {
          transform: scale(0.95);
        }
        .icon {
          background: url("../../../img/footer-send.svg") no-repeat center center;
        }
      }
    }
  }
  .nav {
    flex: 2;
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      color: #ffffff;
    }
    nav {
      margin-top: 25px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #ffffff;
          transition: all 0.2s linear;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
          &:active {
            transform: scale(1);
          }
        }
      }
    }
  }
  .categ {
    flex: 2;
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      color: #ffffff;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 25px;
      li {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #ffffff;
      }
    }
  }
  .price-list {
    flex: 2;
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      color: #ffffff;
    }
    .price-btn {
      width: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      padding: 20px 55px;
      gap: 10px;
      background: #ffc85e;
      border-radius: 79px;
      transition: all 0.2s linear;
      margin-top: 25px;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
      .icon {
        background: url("../../../img/price-btn.svg") no-repeat center center;
        width: 15px;
        height: 15px;
      }
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #ffffff;
      margin-top: 20px;
    }
    .social {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 15px;
      .whatsapp,
      .telegram {
        width: 40px;
        height: 40px;
        transition: all 0.2s linear;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
        &:active {
          transform: scale(1);
        }
      }
      .whatsapp {
        background: url("../../../img/whatsapp.svg") no-repeat center center;
      }
      .telegram {
        background: url("../../../img/telegram.svg") no-repeat center center;
      }
    }
  }
  .contacts {
    flex: 2;
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      color: #ffffff;
    }
    .tel {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #ffffff;
      }
      h3 {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        color: #ffffff;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
        text-decoration-line: underline;
        color: #ffffff;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .mail {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #ffffff;
      }
      p {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 130.02%;
        color: #ffffff;
      }
    }
    .cards {
      margin-top: 25px;
      display: flex;
      align-items: center;
      gap: 5px;
      .visa,
      .mastercard {
        width: 60px;
        height: 40px;
        transition: all 0.2s linear;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
        &:active {
          transform: scale(1);
        }
      }
      .visa {
        background: url("../../../img/visa.svg");
      }
      .mastercard {
        background: url("../../../img/mastercard.svg");
      }
    }
  }
}

@media (max-width: 576px) {
  footer {
    overflow: hidden;
    height: 100%;
    padding: 15px;
    .footer_container {
      flex-direction: column;
      flex-wrap: wrap;
      .about {
        .footer-logo {
          width: 97px;
          height: 41px;
          background-size: contain;
          background-position: center;
        }
        h3 {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
        }
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
          margin-top: 15px;
        }
      }
      .nav,
      .categ {
        flex: 1;
        h2 {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 150%;
        }
        nav {
          ul {
            li {
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 150%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  footer {
    overflow: hidden;
    height: 100%;
    padding: 15px;
    margin-top: 50px;
    .footer_container {
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 50px;
      .nav,
      .categ {
        width: 46.5%;
        flex: none;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1443px) {
  footer {
    overflow: hidden;
    height: 100%;
    padding: 15px;
    margin-top: 50px;
    .footer_container {
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      .nav,
      .categ {
        width: 15%;
        flex: none;
      }
    }
  }
}
